<div class="container mx-auto">
  <div class="flex flex-wrap justify-between mb-4">
    <div class="flex-no-shrink">
      <a href="/">
        <img class="img-fluid" src="/assets/images/sg-logo.svg" alt="Stubborn Goods Logo" style="width: 100% \9;"/>
      </a>
    </div>
    <div class="p-4 block lg:hidden" data-menu="navbarHeader">
      <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
        <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="hidden w-full lg:w-auto lg:block pt-5 lg:flex" id="navbarHeader">
      <nav class="flex flex-col lg:flex-row justify-start lg:justify-end ml-auto border-t border-solid lg:border-none">
        {%- assign navPages = collections.all | eleventyNavigation %}
        {%- for entry in navPages -%}
        <div class="p-2 border-b border-solid lg:border-none {% if entry.url == page.url %} text-bold{% endif %}">
          <a href="{{ entry.url }}">{{ entry.key }}</a>
        </div>
        {%- endfor -%}
        {% if site.social.twitter %}
        <div class="p-2 border-b border-solid lg:border-none ">
          <a class="" href="https://twitter.com/intent/user?screen_name={{ site.social.twitter }}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        {% endif %}
        {% if site.social.facebook %}
        <div class="p-2 border-b border-solid lg:border-none ">
          <a class="" href="https://facebook.com/{{ site.social.facebook }}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
        {% endif %}
        {% if site.social.instagram %}
        <div class="p-2 border-b border-solid lg:border-none pr-0">
          <a class="" href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        {% endif %}
      </nav>
    </div>
  </div>
</div>
<script>
  'use strict';

  (function() {
    function setup_menu(script) {
      var els = document.querySelectorAll("div[data-menu]");
      if (els.length > 0) {
        var el = els[0];
        el.addEventListener('click', function(e) {
          var id = e.currentTarget.getAttribute('data-menu');
          var el = document.querySelectorAll("#" + id)[0];
          el.classList.toggle("hidden");
        });
      }
    }

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", function() { setup_menu() });
    } else {
      setup_menu();
    }
  })()
</script>
