<div class="container mx-auto" data-controller="mobile-nav">
  <div class="flex flex-wrap justify-between mb-4 relative">
    <div class="shrink-0">
      <a class="text-blue-700 hover:text-blue-400 hover:underline" href="/">
        <img class="max-w-full h-auto" src="/assets/images/sg-logo.svg" alt="Stubborn Goods Logo"/>
      </a>
    </div>
    <div class="p-4 block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white" data-action="mobile-nav#toggle" aria-label="Toggle navigation menu">
        <svg data-mobile-nav-target="openIcon" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
        <svg data-mobile-nav-target="closeIcon" class="hidden h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>
    <div class="hidden w-full absolute top-16 lg:top-0 bg-white z-50 lg:relative lg:w-auto lg:block pt-5 lg:flex" data-mobile-nav-target="menu">
      <nav class="flex flex-col lg:flex-row justify-start lg:justify-end lg:items-center ml-auto border-t border-solid lg:border-none">
        {%- assign navPages = collections.all | eleventyNavigation %}
        {%- for entry in navPages -%}
        <div class="p-2 border-b border-solid lg:border-none {% if entry.url == page.url %} text-bold{% endif %}">
          <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ entry.url }}">{{ entry.key }}</a>
        </div>
        {%- endfor -%}
        {% if site.social.twitter %}
        <div class="p-2 border-b border-solid lg:border-none ">
          <a class="text-blue-700 hover:text-blue-400 hover:underline" href="https://twitter.com/intent/user?screen_name={{ site.social.twitter }}" target="_blank">
            <i class="fa-brands fa-twitter w-4 h-4"></i>
          </a>
        </div>
        {% endif %}
        {% if site.social.facebook %}
        <div class="p-2 border-b border-solid lg:border-none ">
          <a class="text-blue-700 hover:text-blue-400 hover:underline" href="https://facebook.com/{{ site.social.facebook }}" target="_blank">
            <i class="fa-brands fa-facebook w-4 h-4"></i>
          </a>
        </div>
        {% endif %}
        {% if site.social.instagram %}
        <div class="p-2 border-b border-solid lg:border-none pr-0">
          <a class="text-blue-700 hover:text-blue-400 hover:underline" href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
            <i class="fa-brands fa-instagram w-4 h-4"></i>
          </a>
        </div>
        {% endif %}
      </nav>
    </div>
  </div>
</div>
