---
layout: default
---

<article class="">
  <h1 class="text-3xl pb-0">{{ title }}</h1>
  <div class="text-gray-700 pb-6">
    {{ author }} | {{ page.date | displayDate }}
  </div>
  <div class="prose max-w-none">
    {{ content }}
  </div>
</article>

{% assign previousPost = collections.posts | getPreviousCollectionItem %}
{% assign nextPost = collections.posts | getNextCollectionItem %}

<nav class="flex flex-row gap-6">
  {% if previousPost %}<div>Previous: <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>{% endif %}
  {% if nextPost %}<div>Next: <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>{% endif %}
</nav>
