---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ site.buildTime | isoDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in posts %}
  {%- capture absolutePostUrl %}{{ post.url | fullUrl:site.url }}{% endcapture -%}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date_updated | default: post.date_created }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[
      {{ item.content | markdownit | convertHtmlToAbsoluteUrls:absolutePostUrl | xml_escape }}
    ]]></content>
  </entry>
  {%- endfor %}
</feed>
