---
layout: default
title: 11ty Starter
eleventyNavigation:
  key: Home
  order: 0
---

<article class="">
  <h1 class="text-3xl pb-5 text-center">{{ site.description }}</h1>
  <p class="text-lg text-center pb-5">
		A basic starter site with 11ty, ParcelJS, StimulusJS, and TailwindCSS.
  </p>
  <div>
    <ul class="pb-3">
      {%- assign posts = collections.posts | head: 3 %}
      {%- for post in posts %}
        <li>
          <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{post.url}}">
            {{ post.data.title }}
          </a>
          | {{ post.data.tags | default: [] | join: ', ' }}
          | {{ post.date | displayDate }}
        </li>
      {%- endfor %}
    </ul>
    <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ "/posts/" | url }}">All</a>
  </div>

  <div>
    <ul class="pb-3">
      <li><a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ "/style/" | url }}">Style</a></li>
      <li><a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ "/feed.xml" | url }}">Feed XML</a></li>
      <li><a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ "/sitemap.xml" | url }}">Sitemap XML</a></li>
    </ul>
  </div>
</article>
