---
layout: page
pagination:
  data: collections.posts
  size: 3
  alias: posts
eleventyNavigation:
  key: Posts
  order: 2
---

<article class="">
  <h1 class="text-3xl pb-5">Posts</h1>
  <div>
    <ul class="pb-3">
    {% for post in posts %}
      <li>
        <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{post.url | url}}">
          {{ post.data.title }}
        </a>
        | {{ post.data.tags | default: [] | join: ', ' }}
        | {{ post.date | displayDate }}

        <p class="pb-5">{{ post.data.page.excerpt | default: post.templateContent | strip_html | truncate: 240 }}</p>
      </li>
    {% endfor %}
    </ul>
  </div>

  <nav class="mx-auto py-3 flex flex-row gap-6">
    {%- if pagination.previousPageHref -%}
      <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ pagination.previousPageHref | url }}">Previous</a>
    {%- endif -%}
    {%- if pagination.nextPageHref -%}
      <a class="text-blue-700 hover:text-blue-400 hover:underline" href="{{ pagination.nextPageHref | url }}">Next</a>
    {%- endif -%}
  </nav>
</article>
